on property:sys.userdata_is_ready=1
    wait /data/vendor/wifi
    wait /data/vendor/bluedroid
    start mac_nvme

service mac_nvme /vendor/bin/hw/mac_nvme
    user root
    group bluetooth system wifi
    oneshot
    disabled
